/*FIVE-YEAR-MARKET COMPONENT*/

.market-vector-wrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: rgb(232, 228, 228);
  flex-direction: row;
  color: rgb(67, 66, 66);
  padding-top: 50px;
  padding-bottom: 50px;
}

.column-heading-year{
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 1.2em;
  margin-left: 10px;
}
