.header-bar {
  display: flex;
  text-align: center;
  height: 100px;
  background-color:#192C4D;
  color: #39A7B1;
}

.nav-bar-ul {
  list-style: none;
  margin: 0 auto;
  padding: 2em;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.nav-bar-ul li{
  list-style: none;
  text-align: left;
  margin: 0 1em;
}

.appname {
  margin-left: 0;
  font-size: 3em;
  flex-grow: 2;
  color: #B6DF9B;
  
}

.appname span {
  color: #5DCB6E;
}
