
.login-form {
  margin-left: auto;
  margin-right: auto;
  background-color:#3478A2;

  position: relative;
  top: 50px;
  left:0;
  max-height: 100%;
  overflow: auto;
  width:350px;
  border-radius: 10px;

  text-align: left;
  color: #EDF8E8;
  font-size: 28px;
}

.field-container {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}


.login-form input, .form-input {
  width: 250px;
  color: #B6DF9B;
  font-size: 32px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

.form-error {
  text-align: center;
  color: #5DCB6E;
}

.login-form button {
 height: 48px;
 width: 250px;
 margin-top: 2em;
 margin-bottom: 2em;
 font-size: 1em;
 background-color: #EDF8E8;
 border-radius: 7px;
 border: 4px solid #5DCB6E;
}


.close {
  color:#EDF8E8;
  font-size: 56px;
  position: relative;
  left: 260px; 
  z-index: 2; 
}

