.vector-wrapper {
    display: flex;
    justify-content: space-evenly;
    min-height: 250px;
    /* border-bottom: 2px solid rgb(164, 164, 164); */
  }
  
  .blurb-wrapper {
    display: flex;
    width: 250px;
    height: 150px;
    margin-top: 60px;
    border-radius: 10px;
    background-color: rgb(232, 228, 228);
    justify-content:center;
    text-align: center;
    align-content: center;
    flex-direction: column;
    color: rgb(67, 66, 66);
    padding: 5px;
  }
  
  li {
    list-style-type: none;
    font-size: 1.2em;
  }