.registration-form {
  overflow: auto;
  width: 100%;
  max-width: 400px;
  height: 30em;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2em;
  justify-content: flex-end;
}

.form-div {
  margin-left: 1em;
}

.registration-form button {
  margin-top: 2em;
  width: 300px;
  max-width: 100%;
}

.registration-form .close {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
}

@media (min-width: 650px ){

  .registration-form {
    height: 500px;
    max-width:756px;
    align-items: flex-end;
  }

  .registration-form .close {
    align-self: center;
  }

  .flex-column {
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
  }

}