.registration-form { 
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color:#3478A2;

  width: 350px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;

  position: relative;
  top: 75px;

  color: #EDF8E8;
  font-size: 28px;
  border-radius: 10px;
}

.form-div {
  margin-left: auto;
  margin-right: auto;
}

.registration-form input {
  width: 250px;
  color: #B6DF9B;
  font-size: 32px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

.registration-form .field-container {
  text-align: left;
}

.registration-form button {
  height: 48px;
  width: 250px;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1em;
  background-color: #EDF8E8;
  border-radius: 7px;
  border: 4px solid #5DCB6E;
}

.registration-form .close {
  color:#EDF8E8;
  font-size: 56px;
  position: relative;
  left: 144px; 
  z-index: 2; 
}

.flex-column {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
}

@media (min-width: 650px ){

  .registration-form {
    height: 500px;
    max-width:756px;
    align-items: flex-end;
  }

  .registration-form .close {
    align-self: center;
  }

  .flex-column {
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
  }

}