img {
    width:100%;
    position: relative;
    z-index: -1;
    margin: 0;
}

.splash-div {
    width: 100%;
}
/* .splash-div h1 {
    font-size: 4em;
    position: relative;
    top: -3em;
    left: 1em;
} */

.splash-div p {
    margin-top: 0;
    padding: .5em 1em;
    /* text-align: center; */
    font-size: 2.7em;
    display: flex;
    justify-content: space-around;
}

.virtues {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.virtue {
    font-size: 1.5em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 400px;
}

.virtue:nth-child(2){
    flex-direction: row-reverse;
}

.virtue img {
    padding: 1em;
    width: 50%;
}



@media (min-width: 720px){

    .splash-div p {
        color: #EDF8E8;
        margin-left: 1em;
        padding: 0;
        font-size: 3em;
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: -2em;
    }

    .virtues {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .virtue, .virtue:nth-child(2){
        text-align: center;
        font-size: 3em;
        /* min-width: 400px; */
        max-width: 380px;
        flex-direction: column;
        justify-content: space-around;
    }



    .virtue img {
        width: 75%;
    }

    .virtue h2 {
        margin-top: 0;
        max-width: 100%;
    }

}