img {
    width:100%;
    position: relative;
    z-index: -1;
    margin: 0;
}

.splash-div {
    width: 100%;
}
/* .splash-div h1 {
    font-size: 4em;
    position: relative;
    top: -3em;
    left: 1em;
} */

.splash-div p {
    margin-top: 0;
    padding: .5em 1em;
    /* text-align: center; */
    font-size: 2.7em;
    display: flex;
    justify-content: space-around;
}


@media (min-width: 720px){

    .splash-div p {
        color: #EDF8E8;
        margin-left: 1em;
        padding: 0;
        font-size: 3em;
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: -2em;
    }
}