body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}


/*CLASSES FOR COMMON APP OBJECTS*/

.app-button {
    box-sizing: border-box;
    background-color: #B6DF9B;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    font-size: 17px;
    width: auto;
    height: auto;
    padding: 5px;
}

.app-h1-text {}

.app-h2-text {}

.app-h3-text {}

.app-label {
    font-size: 18px;
}


/*HEADER-BAR COMPONENT*/

.header-bar {
    display: flex;
    text-align: center;
    height: 100px;
    background-color: #192C4D;
    color: #39A7B1;
}

.nav-bar-ul {
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.nav-bar-ul li {
    text-decoration: none;
    list-style: none;
    text-align: left;
    margin: 0 1em;
}

.nav-bar-ul li a {
    text-decoration: none;
    color: #39A7B1;
}

.appname {
    margin-left: 0;
    font-size: 3em;
    flex-grow: 2;
    color: #B6DF9B;
}

.appname span {
    color: #5DCB6E;
}


/*FIVE-YEAR-PLAN-PERSONAL COMPONENT*/

.vector-wrapper {
    display: flex;
    justify-content: space-evenly;
    min-height: 250px;
    /* border-bottom: 2px solid rgb(164, 164, 164); */
}

.blurb-wrapper {
    display: flex;
    width: 250px;
    height: 150px;
    margin-top: 60px;
    border-radius: 10px;
    background-color: rgb(232, 228, 228);
    justify-content: center;
    text-align: center;
    align-content: center;
    flex-direction: column;
    color: rgb(67, 66, 66);
    padding: 5px;
}

li {
    list-style-type: none;
    font-size: 1.2em;
}