body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  font-family: 'Lato', 'Roboto', Helvetica, sans-serif;
}

/*CLASSES FOR COMMON APP OBJECTS*/

.viewport {
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
    margin-top: 5em;
    text-align: left;
}

.medium-viewport {
    width: 90%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
    margin-top: 5em;
    text-align: left;
}

.small-viewport {
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
    margin-top: 5em;
    text-align: left;
}


/* ===========  TEXT OPTIONS ========================*/

.primary-heading {
    font-size: 3em;
    color: #0C1F27;
}

.secondary-heading {
    font-size: 2em;
}

.list-item-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: bolder;
}

.list-item-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 1em;
}

.descriptive-content {
    font-size: 1.7em;
}

/* =============== MAIN TEXT COLORS =================== */

.primary-text-color {
    color: #0C1F27;
}

.white-text {
    color: #EDF8E8;
}

/*  ================= MAIN BACKGROUND COLORS ========== */
.background-darkest {
    color: #0C1F27;
}

.background-dk {
    color: #192C4D;
}

.background-med {
    color: #3478A2;
}

.background-lt {
    color: #EDF8E8;
}

/* ===================== ACCENT COLORS ================= */

.accent-dk-green {
    color: #2C8B39;
}

.accent-med-green {
    color: #5DCB6E;
}

.accent-lt-green {
    color: #B6DF9B;
}

.accent-med-blue {
    color: #3478A2;
}
.accent-aqua{
    color: #39A7B1;
}

/* ======================  GRAPH COLORS =============== */

.graph-green {
    color:  #B6DF9B;
}

.graph-aqua{
    color: #39A7B1;
}
.graph-pink {
    color: #C24275;
}
.graph-purple {
    color: #783DB8;
}


/*  ======================  BUTTONS ===================== */

.blue-button {
    margin: 2em 1em;
    padding: .5em;
    background-color: #3478A2;
    color: #EDF8E8;
    width: 15em;
    max-width: 48%;
    font-size: 1.3em;
    border-radius: 10px;
}

.green-button {
    margin: 2em 1em;
    padding: .5em;
    background-color: #5DCB6E ;
    color: #0C1F27;
    width: 15em;
    max-width: 48%;
    font-size: 1.3em;
    border-radius: 10px;
}

/*HEADER-BAR COMPONENT*/

.header-bar {
    display: flex;
    /* text-align: center; */
    height: 100px;
    background-color: #192C4D;
    /* color: #39A7B1; */
}

.header-ul {
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.header-li {
    text-decoration: none;
    list-style: none;
    text-align: left;
    margin: 0 1em;
}

.header-links {
    display: flex;
    flex: column;
    align-items: baseline;
}

.header-link {
    text-decoration: none;
    color: #39A7B1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.appname {
    margin-left: 0;
    font-size: 3em;
    flex-grow: 2;
    color: #B6DF9B;
}

.appname span {
    color: #5DCB6E;
}


/*INVESTMENT-FORM COMPONENT RADIO BUTTONS */

.radio-button-container {
    padding-left: 60px;
}

.radio-button-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-button-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.custom-radio-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.radio-button-label:hover input ~ .custom-radio-button {
    background-color: #ccc;
}

/* When the radio button is checked, add green background */
.radio-button-label input:checked ~ .custom-radio-button {
    background-color: #5DCB6E;
    border: none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radio-button:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button-label input:checked ~ .custom-radio-button:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-button-label .custom-radio-button:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*INTRO COMPONENT*/
.intro-description {
    padding: 2em;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.intro-description-p {
    margin: 0;
    padding: 0 1em 1em;
}

.intro-emphasis {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: bold;
}

.intro-button-alignment {
    padding-right: 3em;
    margin-top: 0;
}

/*RISK BREAKDOWN COMPONENT*/

.risk-breakdown {
    text-align: center;
}

.risk-details {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.4em;
    display: flex;
    justify-content: space-around;
    width: 85%;

}

/* MARKET ANALYSIS */

.market-width {
    width: 90%;
}

/*  PORTFOLIO COMPONENT */

.portfolio-width {
    min-width: 150px;
}


/*FIVE-YEAR-PLAN-PERSONAL COMPONENT*/

.vector-wrapper {
    display: flex;
    /* flex-direction: column */
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    /* min-height: 250px; */
    /* flex-wrap: wrap; */
    /* border-bottom: 2px solid rgb(164, 164, 164); */
}

ul {
    padding: 0;
}

.blurb-wrapper {
    display: flex;
   
    max-width: 250px;
    /* height: 150px; */

    margin: 10px;

    border-radius: 10px;
    background-color: rgb(232, 228, 228);
    justify-content: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(67, 66, 66);
    padding: 5px;
}

li {
    list-style-type: none;
    font-size: 1.2em;
    margin: 10px;
}

/*== more-specific helper classes ===========*/

.center-object {
    text-align: center;
}

.right-align-object {
    text-align: end;
}

.left-align-object {
    text-align: left;
}

.no-border {
    border: none;
}

.no-margins {
    margin: 0;
}

.no-left-margin {
    margin-left: 0;
}

.no-top-margin {
    margin-top: 0;
}

.margin-top {
    margin-top: 1em;
}

.margin-bottom {
    margin-bottom:1em;
}

.margin-left {
    margin-left:8px;
}

.margin-left-large {
    margin-left: 36px;
}

.margin-left-med {
    margin-left: 1em;
}

.margin-right {
    margin-right: 8px;
}

.no-padding {
    padding: 0;
}

.padding {
    padding: 1em;
}
.padding-left{
    padding-left: 1em;
}

.padding-bottom {
    padding-bottom: 1em;
}

.padding-right{
    padding-right: 3em;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.min-width-blurb {
    min-width: 200px;
}

.flex {
    display: flex;
}
 .flex-start {
     justify-content: flex-start;
     align-items: baseline;
 }

.flex-end {
    justify-content: flex-end;  
}

.flex-row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: baseline;
}

.wrap {
    flex-wrap: wrap;
}

.reverse-wrap {
    flex-wrap: wrap-reverse;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}