@media (max-width: 674px){

    .html {
        width: 100%;
        min-width: 400px;
    }
    .header-ul {
        height: 132px;
        background-color: #192C4D;
        padding-right: .5em;
        padding-left: .5em;
        position: fixed;
    }
    .header-links {
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 1em;
    }

    .viewport, .medium-viewport,
    .small-viewport {
        width: 100%;
        text-align: center;
    }

    
}

@media (max-width: 730px){
    .appname {
        margin-right: .2em;
    }
}